:root {
  --main-bg-color: #f9f9f9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}
header {
  display: flex;
  background-color: var(--main-bg-color);
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
}
.logo {
  font-family: cursive;
  font-size: 1.2rem;
}
.navbar__ul {
  display: flex;
  list-style: none;

}
.navbar__li, .navbar__link {
  font-weight: 500;
  text-decoration: none;
}
.navbar__link {
  padding: 3px 9px;
  color: #534;
}
.jumbo {
  width: 100%;
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(120deg, rgba(85,51,68, .7), rgba(119,102,51, .7)), url("https://images.pexels.com/photos/373912/pexels-photo-373912.jpeg?cs=srgb&dl=aerial-architectural-design-architecture-buildings-373912.jpg&fm=jpg");
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
}
.jumbo__text__box {
  background-color: transparent;
  padding: 1rem;
  text-align: center;

}
.jumbo__heading__large {
  background-color: transparent;
  font-weight: 400;
  font-size: 5rem;
  color: #fff;
  animation-name: left;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
.jumbo__p {
  background-color: transparent;
  margin-top: 1rem;
  color: #fff;
  font-size: 1.4rem;
  margin-bottom: 2rem;

}
.jumbo__cta {
  color: #fff;
  font-size: 1.1rem;
  text-decoration: none;
  border: 2px solid #fff;
  padding: .4rem 1.2rem;
  display: inline-block;
  transition: all .3s;
  box-shadow: .2rem .3rem rgba(0, 0, 0, .2);
}
.jumbo__cta:hover {
  transform: translateY(-5px);
}

/************ Modal ***************/
#modal {
  z-index: 3;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0, .8);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  left: 0;
}
.modal__content {
  width: 40%;
  height: 40%;
  margin-top: 18%;
  margin-left: 31%;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
}
.modal__content h2 {
  color: rgba(85,51,68, 1);
  padding: 1rem;
  font-size: 1.4rem;
}
.modal__content p {
  color: rgba(85,51,68, 1);
  padding: 1rem;
  font-size: .9rem;
}
.modal__input {
  display: block;
  width: 75%;
  margin: auto;
  height: 30px;
  margin-bottom: .5rem;
  border-radius: 3px;
  background: transparent;
  border: 2px solid rgba(119,102,51);
}
.modal__submit {
  background-color: rgba(119,102,51);
  color: var(--main-bg-color);
  font-size: 1rem;
  padding: .5rem 1.3rem;
  box-shadow: .2rem .2rem rgba(0, 0, 0, .1);
  cursor: pointer;
  margin-top: 1.2rem;
}

/************* About ***************/
.about {
  width: 100%;
  background-color: var(--main-bg-color);
}
.about__heading__wrapper {
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
}
.about__heading__medium {
  font-size: 1.9rem;
  background-image: linear-gradient(to right, rgba(85,51,68, 1), rgba(119,102,51, 1));
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.about__ul__wrapper {
  width: 90%;
  margin: auto;
}
.about__ul {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.about__li {
  text-align: center;
  padding: .7rem;
}
.about__li h3 {
  text-align: center;
  font-size: 1.3rem;
  margin-top: 1.3rem;
  text-transform: capitalize;
}
.about__li p{
  color: #333;
  margin-top: 1.3rem;
  text-align: center;
  font-size: .9rem;
  line-height: 1.4;
}
.fas, .far {
  font-size: 3.4rem;
  background-image: linear-gradient(to right, rgba(85,51,68, 1), rgba(119,102,51, 1));
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.next {
  height: 400px;
  margin-top: 3.2rem;
  display: flex;
  justify-content: space-between;
  width: 100%;

}
.left {
  width: 50%;
  height: 100%;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
}
.left:hover > .left-front{
  transform: rotateY(180deg);
}
.left:hover > .left-back{
  transform: rotateY(0deg);
}
.right {
  width: 50%;
  height: 100%;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
}

.left-front {
  position: absolute;
  background-image: linear-gradient(to right, rgba(85,51,68, .7), rgba(119,102,51, .5)), url("https://images.pexels.com/photos/6229/marketing-board-strategy.jpg?auto=compress&cs=tinysrgb&h=750&w=1260");
  background-repeat: no-repeat;
  color: #fff;
  background-size: cover;
  object-fit: cover;
  transition: all 1s;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.left-front h1 {
  font-size: 2.4rem;
  margin-top: -10px;
  letter-spacing: 1.2;
}
.left-front h2 {
  font-size: 1.5rem;
  letter-spacing: 1.2;
  font-weight: 400;
}
.left-back {
  transition: all 1s;
  background-image: linear-gradient(45deg, rgba(119,102,51, 1), #fff, rgba(85,51,68, 1));
  transform: rotateY(180deg);
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
}
.left-back__text {
  margin: auto;
}
.left-back__text h3 {
  color: rgb(85, 51, 68);
  font-size: 2.2rem;
}
.left-back__text ul {
  list-style: none;
  padding: 1rem;
}
.left-back__text li {
  font-size: .9rem;
  color: #333;
  padding: 1rem;
}
.number {
  border-radius: 50%;
  height: 15px;
  width: 20px;
  padding: .4rem;
  margin-right: .6rem;
  color: #fff;
  background: rgb(85, 51, 68);
  font-size: 1.2rem;
}
.right-front {
  position: absolute;
  background-image: linear-gradient(to right, rgba(85,51,68, .7), rgba(119,102,51, .5)), url("https://images.pexels.com/photos/623046/pexels-photo-623046.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  color: #fff;
  background-size: cover;
  object-fit: cover;
  transition: all 1s;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.right:hover > .right-front{
  transform: rotateY(180deg);
}
.right:hover > .right-back{
  transform: rotateY(0deg);
}
.right-front h1 {
  font-size: 2.4rem;
  margin-top: -10px;
  letter-spacing: 1.2;
}
.right-front h2 {
  font-size: 1.5rem;
  letter-spacing: 1.2;
  font-weight: 400;
}
.right-back {
  transition: all 1s;
  background-image: linear-gradient(45deg, rgba(85,51,68, 1), #fff, rgba(119,102,51, 1));
  transform: rotateY(180deg);
  padding: 1rem;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
}
.right-back h3{
  color: rgb(85, 51, 68);
  font-size: 2.2rem;
}
.right-back p {
  color: #333;
  line-height: 1.3;
  font-size: .9rem;
  padding: 1rem;
}
.getStarted {
  width: 100%;
  height: 40vh;
  background: #d9d9d9;
}
.getStarted__wrapper {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.getStarted h1 {

  color: #333;
  font-size: 2.2rem;
  text-transform: capitalize;
  margin-bottom: .7rem;
  line-height: ;
}
.getStarted p {
  color: #333;
  font-size: .9rem;
  margin-bottom: 1.3rem;
}
.getStarted__cta {
  padding: .9rem 1.4rem;
  border-radius: 22px;
  background-color: rgb(85, 51, 68);
  color: #fff;
  text-decoration: none;
}
.getStarted__cta:hover {
  opacity: .7;
}
.whyUs {
  width: 100%;
}
.whyUs__heading, .services__heading{
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  margin-top: 3rem;
  color: rgb(119,102,51);
}
.whyUs__heading p {
  margin-top: 1.3rem;
  font-size: .9rem;
}
.whyUs__wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
}
.whyUs > div {
  flex-basis: 30%;
}
.fas, .fab {
  color: rgb(119,102,51);
  font-size: 1.6rem;
  margin-right: .5rem;
}
.ul__1 {
  height: 90%;
  padding: 1.5rem;
}
.ul__1 ul {
  padding: .5rem;
  list-style: none;
}
.ul__1 ul {
  padding: .5rem;
  list-style: none;
}
.ul__1 li:nth-child(odd){
  text-transform: uppercase;
  font-size: 1.2rem;
  color: rgb(119,102,51);
  font-weight: bold;
}
.ul__1 p {
  color: #333;
  font-size: .9rem;
  line-height: 1.3;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
/************* SERVICES ******************/
.services {
  width: 100%;
  height: auto;
  background: #d9d9d9;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.services__wrapper {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.services__col {
  flex-basis: 30%;
  background: #d9d9d9;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services__box {
  margin: 0 auto;
  height: 90%;

  display: flex;
  flex-direction: column;
  padding: .9rem;


}
.services__list {
  list-style: none;
  text-align: center;
  padding: 0;
}
.services__list li {
  padding: .3rem;
  margin-bottom: .6rem;
}

.services__list h3 {
  color: rgb(85, 51, 68);
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: bold;
}
.services__list p {
  color: #3F3E3E;
  font-weight: 400;
  font-size: .9rem;
}
.services__heading {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  color: rgb(119,102,51);
}
.services__heading p {
  margin-top: 1.2rem;
  margin-bottom: 1.1rem;
  font-size: .9rem;
}
#price {
  color: rgb(119,102,51);
  font-size: 1.7rem;
  font-weight: bold;
}
.services__cta {
  text-decoration: none;
  color: #fff;
  padding: .4rem 1.4rem;
  background: rgb(85, 51, 68);
  border-radius: 12px;
}
.workDone {
  width: 100%;
  height: 40vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("https://images.pexels.com/photos/1595385/pexels-photo-1595385.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*object-fit: cover;
  -webkit-object-fit: cover;*/
}
.workDone-wrapper {
  width: 90%;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.workDone-wrapper ul{
  list-style: none;
  color: #d9d9d9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.workDone-wrapper li {
  font-size: 1.2rem;
}

.workDone-wrapper p {
  font-weight: 400;
  margin-bottom: 1.2rem;
  font-size: 1.1rem;
}
.work-icon {
  color: #d9d9d9;
  font-size: 2.1rem;
  margin-bottom: 1rem;
}
/************ Subscribe ****************/
.subscribe {
  width: 100%;
  height: 30vh;
}
.subscribe-wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subscribe__heading {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-size: 2.2rem;
}
.subscribe__p {
  color: rgb(119,102,51);
  font-size: .9rem;
  margin-bottom: 2rem;
}
.subscribe__cta {
  color: #d9d9d9;
  padding: .8rem 1.4rem;
  border-radius: 16px;
  background-color: rgb(119,102,51);
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: .3rem .2rem rgba(0, 0, 0, .4);
  transition: all .3s;
}
.subscribe__cta:hover {
  opacity: .6;
}
/****************** Footer ******************/
#footer {
  width: 100%;
  height: 45vh;
  background-color: #3F3E3E;
  color: #d9d9d9;
}
.footer-wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.footer-wrapper > div {
  width: 50%;
}
.footer__left {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}
#social {
  display: flex;
  list-style: none;
}
.social__icon {
  font-size: 1rem;
  color: #d9d9d9;
  transition: all .3s;
  cursor: pointer;
}
.social__icon:hover {
  color: rgb(124, 102, 61);
}
.footer__right {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}
#form {
  display: flex;
  flex-direction: column;
}
#name, #email {
  background: transparent;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  height: 30px;
  width: 400;
  margin-bottom: 1rem;
  color: #d9d9d9;
}
#message {
  background: transparent;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  margin-bottom: 1rem;
}
.submit {
  text-decoration: none;
  color: #333;
  padding: .5rem 1.3rem;
  background: #d9d9d9;
  width: 150px;
  transition: all .4s;
}
.submit:hover {
  opacity: 0.5;
}
.footer__h2 {
  font-weight: bold;
  font-size: 1.7rem;
  letter-spacing: 2px;
  margin-bottom: 1.1rem;
}
.footer__p {
  font-size: .8rem;
  margin-bottom: 1.1rem;
}
.footer__btm {
  width: 100%;
  height: 60px;
  background: rgb(124, 102, 61);
}
.footer__btm__wrapper {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  align-items: center;
  color: #d9d9d9;
  font-size: .8rem;
}
.footer__btm__wrapper ul {
  display: flex;
  list-style: none;
}
.footer__btm__wrapper li {
  margin-right: 1rem;
  transition: all .3s;
  cursor: pointer;
}
.footer__btm__wrapper li:hover {
  color: #3F3E3E;
}

















/*********** Animations **************/

@keyframes left {
  0% {
    margin-left: -100px;
    opacity: 0;
  }
  90% {
    margin-left: 10px;
  }
  100% {
    margin: 0;
    opacity: 1;
  }
}



/********** Media Queries ****************/

@media (max-width: 780px) {
.about__ul {
  flex-direction: column;
  justify-content: space-between;
}
.next {
  flex-direction: column;
  height: 100vh;
}
.left {
  width: 100%;
}
.right {
  width: 100%;
}
.whyUs__wrapper {
  flex-direction: column;
  padding-top: 1rem;
}
.services {
  height: auto;
  padding-top: 1rem;
}
.services__wrapper {
  flex-direction: column;
}
}



@media (max-width: 450px) {
  header {
    padding: 5px 1%;
    justify-content: space-around;
  }
  .jumbo {
    height: 70vh;
  }
  .jumbo__text__box {
    padding: 2rem;
    width: 75%;
    margin: auto;

  }
  .jumbo__heading__large {
    font-size: 2.4rem;
    padding: 1rem;
  }
  .modal__content {
    width: 60%;
    height: 45%;
    margin: auto;
    margin-top: 20%;
  }
  .about__heading__wrapper {
    padding: 2.4rem;
  }
  .about__heading__medium {
    font-size: 1.2rem;
    padding: 1.2rem;
    text-align: center;
  }
  .about__ul {
    flex-direction: column;
    justify-content: space-between;
  }

  .about__li h3 {
    font-size: 1rem;
  }
  .about__li  p{
    font-size: .6rem;
    padding: .5rem;
  }
  .left-front, .right-front {
    text-align: center;
  }
  .next {
    flex-direction: column;
}
.whyUs__wrapper {
  flex-direction: column;
  padding-top: 1rem;
}
.workDone {
  height: auto;
}
.workDone-wrapper {
  flex-direction: column;
  padding-top: .5rem;
}
.workDone-wrapper p {
  padding: .2rem;
  margin-bottom: .4rem;
}
#footer {
  height: auto;
}
.footer-wrapper {
  flex-direction: column;
}
.footer-wrapper > div {
  width: 100%;
}
.footer__btm {
  height: auto;
}
.footer__btm__wrapper {
  flex-direction: column;
}
.footer__btm__wrapper ul {
  margin-bottom: .5rem;
}

}
